<launch>
    <include file="$(find scout_bringup)/launch/open_rslidar.launch" />
    <include file="$(find realsense2_camera)/launch/rs_camera.launch" />
    <node name="main_node" pkg="self_driving" type="main.py" output="screen"/>
    <node name="flag_node" pkg="self_driving" type="flag_publisher.py" output="screen"/>
    <node name="steering_node" pkg="self_driving" type="steering_publisher.py" output="screen"/>
</launch>
